---
title: "Inicio"
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Inicio</title>
  </head>
  <body>
    <h1>Bienvenido a TecnoEspacio</h1>
    <p>Tu guía en el cosmos tecnológico.</p>
  </body>
</html>
